<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <h1
          class="white--text"
          v-anime="{
            opacity: '1',
            easing: 'easeInOutQuad',
          }"
        >
          What you see in the Clouds
        </h1>
      </v-col>
      <v-col cols="12">
        <v-card v-if="images">
          <v-img
            height="40vh"
            @error="error = true"
            @load="error = false"
            v-show="images && !error"
            :src="images[offset].url"
          />
          <v-card-text>
            <v-row>
              <v-col v-for="(result, i) in results" :key="i">
                <v-icon color="success">mdi-check</v-icon>
                {{ result.content }} (x{{ result.count }})
              </v-col>
            </v-row>
            <v-text-field
              label="Votre réponse"
              color="primary"
              v-model="response"
              @keypress.enter="add()"
            >
              <template v-slot:append>
                <v-btn
                  depressed
                  tile
                  :color="success?'success':'primary'"
                  class="ma-0"
                  @click="add()"
                >
                <template v-if="!success && !response">
                  Répondre
                </template>
                <template v-else-if="success && !response">
                    <v-icon>mid-check</v-icon>
                    Ok !
                </template>
                <template v-else>
                    Répondre
                </template>
                </v-btn>
              </template>
            </v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="offset++">Image suivante</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar color="success" block top v-model="success">
      Réponse soumise !
    </v-snackbar>
    <v-overlay v-model="loading">
      <v-progress-circular indeterminate />
    </v-overlay>
  </v-container>
</template>

<script>
import api from "@/api";
import _ from "lodash";
export default {
  data: () => ({
    images: false,
    offset: 0,
    loading: true,
    page: 1,
    error: false,
    results: [],
    response: null,
    success: false,
  }),
  methods: {
    shuffle(array) {
      return array.sort(() => Math.random() - 0.5);
    },
    async getImages() {
      this.loading = true;
      try {
        const images = await api.images.getClouds();
        this.images = _.uniqBy(images, "url");
        this.images = this.shuffle(this.images);
        console.log("images", this.images);
      } catch (err) {
        this.error = err;
      }
      this.loading = false;
    },
    async add() {
      try {
        await api.response.add({
          cloud: this.images[this.offset].id,
          content: this.response,
        });
        this.success = true;
      } catch (err) {
        console.log(err);
      }
      if (this.images[this.offset].responses) {
        let resultCount = this.images[this.offset].responses.filter(
          (map) => map.content.indexOf(this.response) > -1
        );
        console.log(resultCount);
        if (resultCount.length > 0) {
          let result = this.images[this.offset].responses.find(
            (map) => map.content.indexOf(this.response) > -1
          );
          if (result) {
            result.count = resultCount.length;
            console.log(result);
            this.results.push(result);
          }
        }
      }
    this.response = null;
    },
  },
  mounted() {
    this.getImages();
  },
  watch: {
    page() {
      this.getImages();
    },
    offset() {
      this.results = [];
      this.response = null;
      if (this.offset > this.images.length - 1) {
        this.offset = 0;
      }
    },
  },
};
</script>

<style>
</style>