<template>
    <v-container>
        <v-row>
            <v-col cols=12>
                <v-text-field v-model="page" type="number"/>
            </v-col>
            <v-col>
                <v-card v-if="images">
                    <v-img height="60vh" @error="error = true" @load="error = false" v-show="images && !error" :src="images[offset].url"/>
                    <v-card-text>
                        <v-text-field v-model="response" filled placeholder="Reponse..."/>
                        <v-btn @click="add()">Good</v-btn>
                        <v-btn @click="offset++">Suivant</v-btn>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import api from '@/api';
export default {
    data:()=>({
        images:false,
        offset:0,
        page:1,
        error:false,
        response:null,
    }),
    methods:{
        async getImages(){
            const images = await api.images.get(this.page);
            this.images = images.value
            console.log('images',this.images);
        },
        async add(){ 
          const cloud = await api.images.add({
            url:this.images[this.offset].url,
          });
          await api.response.add({
            cloud:cloud.id,
            content:this.response
          });
          this.response = null;
        }
    },
    mounted(){
        this.getImages();
    },
    watch:{
        page(){
            this.getImages();
        }
    }
}
</script>

<style>

</style>