<template>
<v-sheet height="100vh" class="primary">
    <v-col cols=12 class="text-center py-16"> 
        <v-icon style="opacity:0;" class="display-4" color="white" v-anime="{
            opacity:'1',
            duration:10000
            }">mdi-cloud</v-icon>
      <h1
        class="white--text"
        v-anime="{
          opacity: '1',
          easing: 'easeInOutQuad',
        }"
      >
        What you see in the Clouds
      </h1>
      <v-col>
          <v-btn style="opacity:0" block v-anime="{
              delay:1000,
              duration:6000,
              opacity:'1'
          }" color="warning" to="/start">Start</v-btn>
      </v-col>
      <v-col>
          <small class="white--text">Par Ayrton</small>
      </v-col>
    </v-col>
</v-sheet>
</template>

<script>
export default {};
</script>

<style>
</style>