<template>
  <v-app>
    <v-main class="primary">
      <transition name="component-fade" mode="out-in">
        <router-view style="max-height:100vh;overflow:scroll;" />
      </transition>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

</style>